README.html
/inst/standarderrors.pdf
/inst/doc/*.log
/vignettes/*.log
/vignettes/*.aux
/vignettes/*.pdf
/vignettes/*.sty
/vignettes/*.tex
/vignettes/*.out
/vignettes/*.blg
/vignettes/figure/
/vignettes/*.bib.bak
